build: off

environment:
  matrix:
    - PYTHON: "C:\\Python27"
      PYTHON_VERSION: "2.7.x"
      PYTHON_ARCH: "32"

init:
  - "%PYTHON%/python --version"

install:
  - "%PYTHON%/python -m pip install -r requirements.txt"
  - "%PYTHON%/python -m pip install py2exe_py2"

before_test:
  - "%PYTHON%/python setup.py build"

test_script:
  - "%PYTHON%/python setup.py test"

after_test:
  - "%PYTHON%/python setup.py py2exe -O2 -c -b1 -p xtuml,rsl"
  - "%PYTHON%/python setup.py bundle bundle -o dist/gen_erate.pyz"
  
artifacts:
  - path: dist\*

